<template>
    <div id="app">
        <v-app>
            <v-app-bar app>
                <v-toolbar-title>Cardápio</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon>mdi-login</v-icon>
                </v-btn>
            </v-app-bar>
            <v-main>
                <v-container fluid>
                    <v-row>
                        <v-col md="9">
                            <v-row>
                                <v-col md="12">
                                    <v-card height="400px" color="grey light-400">
                                        <div class="img-logo bg-white"></div>
                                        <div class="card-footer">
                                            <div class="mr-5" :class="status ? 'text-green-800' : 'text-red-800'">
                                                <template v-if="status">
                                                    <p class="mb-0"><v-icon size="20" color="green light-600">mdi-thumb-up-outline</v-icon> Aberto</p>
                                                </template>
                                                <template v-else>
                                                    <p class="mb-0"><v-icon size="20" color="red light-600">mdi-thumb-down-outline</v-icon> Fechado</p>
                                                </template>
                                            </div>
                                            <div class="mr-5">
                                                <p class="mb-0"><v-icon size="20">mdi-phone-message-outline</v-icon> {{ phone }}</p>
                                            </div>
                                            <div class="mr-5">
                                                <p class="mb-0"><v-icon size="20">mdi-map-marker-outline</v-icon> {{ address }}, {{ number }}, {{ district }}</p>
                                            </div>
                                        </div>
                                    </v-card>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col md="12">
                                    <v-card>
                                        <v-card-title>Pizzas</v-card-title>
                                        <v-divider></v-divider>
                                        <v-card-text>
                                            <v-row>
                                                <v-col md="4" v-for="product in products" :key="product.id">
                                                    <v-card>
                                                        <v-list-item four-line>
                                                            <v-list-item-avatar
                                                                tile
                                                                size="100"
                                                                color="grey"
                                                            >
                                                                <v-img :src="'/image/'+product.image"></v-img>
                                                            </v-list-item-avatar>
                                                            <v-list-item-content>
                                                                <v-list-item-title class="headline mb-3">
                                                                    <span class="text-sm"><strong>{{ product.name }}</strong></span>
                                                                    <v-btn class="custom-btn green light-800" dark small @click="add($event, product.id)"><v-icon>mdi-plus</v-icon> Adicionar</v-btn>
                                                                </v-list-item-title>
                                                                <div><strong>Ingredientes:</strong>{{ product.description }}</div>
                                                                <div>
                                                                    <span><strong>Tempo:</strong> {{ product.time_from }}~{{ product.time_to }} min</span>
                                                                    <span class="float-right text-md"><strong>R$ {{ product.price }}</strong></span>
                                                                </div>
                                                            </v-list-item-content>
                                                        </v-list-item>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col md="3" class="h-screen">
                            <v-card height="90%" width="24%" style="position: fixed">
                                <v-card-title>Meu Pedido</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text v-if="order_items.length">
                                        <v-card class="mb-3" v-for="item in order_items" :key="item.id">
                                            <v-list-item four-line>
                                                <v-list-item-avatar
                                                    tile
                                                    size="100"
                                                    color="grey"
                                                >
                                                    <v-img :src="'/image/'+item.product.image"></v-img>
                                                </v-list-item-avatar>
                                                <v-list-item-content>
                                                    <v-list-item-title class="headline mb-3">
                                                        <span class="text-sm"><strong>{{ item.product.name }}</strong></span>
                                                        <v-btn class="custom-btn red light-800" dark small @click="remove($event, item.id, item.order_id)"><v-icon>mdi-delete-outline</v-icon> Remover</v-btn>
                                                    </v-list-item-title>
                                                    <div><strong>Ingredientes:</strong> {{ item.product.description }}</div>
                                                    <div>
                                                        <span><strong>Tempo:</strong> {{ item.product.time_from }}~{{ item.product.time_to }} min</span>
                                                        <span class="float-right text-md"><strong>R$ {{ item.total }}</strong></span>
                                                        <span class="float-right text-md mr-2"><strong>Qtd: {{ item.qtd }}</strong></span>
                                                    </div>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-card>
                                </v-card-text>
                                <v-card-text v-else>
                                    <v-card class="mb-3 w-100">
                                        <v-card-text>Nenhum item no carrinho!</v-card-text>        
                                    </v-card>
                                </v-card-text>
                                <v-card-text class="card-footer order">
                                    <v-divider class="mb-3"></v-divider>
                                    <div class="summary">
                                        <span class="total"><strong>Qtd:</strong><span class="float-right">{{ order.qtd }}</span></span>
                                        <span class="total"><strong>Total:</strong><span class="float-right">R$ {{ order.total }}</span></span>
                                    </div>
                                    <div class="send-order">
                                        <v-btn color="green light-500 mx-auto" dark large @click="send($event, order.id)"><v-icon>mdi-check</v-icon> Finalizar Pedido</v-btn>
                                        <v-snackbar v-model="snackbar">
                                            {{ text }}
                                            <template v-slot:action="{ attrs }">
                                                <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
                                            </template>
                                        </v-snackbar>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

</template>

<script>
export default {
    props: ['store', 'products', 'order', 'order_items'],
    data() {
        return  {
            status: (this.store[0].status.id == 1) ? true : false,
            phone: this.store[0].phone,
            address: this.store[0].address,
            number: this.store[0].number,
            district: this.store[0].district,
            text: 'Pedido Finalizado com sucesso!',
            snackbar: false
        }
    },
    methods: {
        remove(e, id, order_id) {
            this.$inertia.post('/order/destroy', { 
                    id: id,
                    order_id: order_id
            }, { 
                preserveScroll: true
            })

        },
        add(e, id) {
            this.$inertia.post('/order/store',{ 
                    id: id,
                    qtd: 1,
                    store: 1
            },{ 
                preserveScroll: true
            })
        },
        send(e, order_id) {
            if(this.order_items.length) {
                this.$inertia.post('/order/send', { order_id: order_id }, { 
                    onSuccess: () => { 
                        this.snackbar = true
                    }
                })
            }
        }
    }
}
</script>

<style scoped>
.img-logo {
    height: 200px;
    width: 200px;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    margin: 50px auto 0 auto;
}

.card-footer {
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    display: flex;
    align-self: unset;
    align-items: center;
    align-content: center;
    bottom: 0;
    border: 1px solid white;
    padding: 0 20px;
}

.order {
    bottom: 90px;
    display: block;
}
.card-footer .summary {
    margin-bottom: 10px;
}

.card-footer .summary span {
    display: block;
    margin-bottom: 5px;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.card-footer .send-order button {
    display: block;    
}

.custom-btn {
    position: absolute;
    right: 15px;
}

.custom-plus-icon {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}

.custom-plus-icon i {
    display: block;
    margin: 0 auto;
}

</style>
